* {
  margin: 0;
  padding: 0;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #fca311;
}

.gpgrey {
  color: #e5e5e5;
}

.gpred {
  color: #d1462f;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  height: 100vh;
}

.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 9rem;
  margin-left: 20%;
  line-height: 0.8;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 6em;
  font-weight: 900;
  margin-left: 35%;
  line-height: 0.8;
}

.title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  margin: 0 auto;
  line-height: 2;
}

#arrow-wrapper {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 10;
}

#arrow-wrapper a {
  cursor: pointer;
}

#arrow-wrapper-middle {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 10;
}

#arrow-wrapper-middle a {
  cursor: pointer;
}

.arrow-border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #14213d;
  border-radius: 50%;
}

.arrow-border-middle {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  bottom: 24px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  right: 19px;
}

.arrow-middle {
  position: absolute;
  bottom: 24px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  right: 19px;
}

.down {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.up {
  transform: translateY(50px);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.section-up-icon {
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 20px;
  cursor: pointer;
}

.pulse {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0;
  -webkit-animation: pulsate 2s ease-out;
          animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px 1px #e5e5e5;
          box-shadow: 0 0 1px 1px #e5e5e5;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.pulse-middle {
  position: relative;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0;
  -webkit-animation: pulsate 2s ease-out;
          animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px 2px #d1462f;
          box-shadow: 0 0 1px 2px #d1462f;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.storia {
  width: 100vw;
  height: 100vh;
  background: #14213d;
}

.storia .video {
  -webkit-clip-path: polygon(14% 0%, 0% 0%, 0% 100%, 67% 100%, 80% 40%, 65% 0%);
          clip-path: polygon(14% 0%, 0% 0%, 0% 100%, 67% 100%, 80% 40%, 65% 0%);
  height: 100vh;
}

.storia .overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: #14213d;
  opacity: 0.66;
}

.storia .testo {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.storia .testo #pianist {
  width: 50%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-left: 40%;
  margin-top: 0rem;
}

.storia .testo #twenty-twenty {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin-left: 40%;
  margin-top: 2rem;
}

.storia .testo #new-skills {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin-left: 40%;
  margin-top: 2rem;
}

.storia .testo .let-me-show-you {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -1rem;
}

#skills {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}

#skills a {
  text-decoration: none;
}

#skills .row {
  position: absolute;
  top: 50%;
  margin: 0 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "Montserrat", sans-serif;
}

#skills .col {
  padding: 0 10px;
}

#skills .card {
  padding: 0;
  border: 0;
}

#skills .card:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 3;
}

#skills img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#skills #arrow-wrapper-third {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  bottom: 10px;
}

#workingon {
  width: 100vw;
  height: 100vh;
  background: #000000;
}

#workingon a {
  text-decoration: none;
  color: #000000;
}

#workingon .row {
  position: absolute;
  top: 50%;
  margin: 0 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "Montserrat", sans-serif;
}

#workingon .col {
  padding: 0 10px;
}

#workingon .card {
  padding: 0;
  border: 0;
}

#workingon .card:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 3;
}

#workingon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#workingon #arrow-wrapper-fourth {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  bottom: 10px;
}

#contact {
  width: 100vw;
  height: 100vh;
  background: #2bc2c4;
  background: linear-gradient(288deg, #2bc2c4 0%, #fdd4ff 80%);
  font-family: "Montserrat", sans-serif;
}

#contact .social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .social h1 {
  font-weight: 900;
}

#contact .social i {
  margin: 0 10px;
}

#contact .social a {
  text-decoration: none;
  color: #313131;
}
/*# sourceMappingURL=style.css.map */